/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/**
 * Minimal base styles.
 */

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}
textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css ; */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
/* End reset */

html, body  { height: 100%; width: 100%; color: #fff; font-family: 'PT Sans Narrow' }
body        { background: #eeedec url(/img/noise.png) repeat }
#main-menu, #stream, #reading-now { position: absolute }
#stream, #reading-now {
  padding-top: 70px;
  top: 0px;
  bottom: 0;
  overflow-y: auto;
  opacity: 1;
  -webkit-transform:  translate3d(0px,0px,0);
  -moz-transform:     translateY(0px);
  transform:          translate3d(0px,0px,0)
}
body.read-later #stream,
body.read-later #reading-now  {
  opacity: 0;
  pointer-events: none;
  -webkit-transform:  translate3d(0px,20px,0);
  -moz-transform:     translateY(20px);
  transform:          translate3d(0px,20px,0)
}
#read-later                   { opacity: 0; pointer-events: none }
body.read-later #read-later   { opacity: 1; pointer-events: auto }

/* Shit that's a given */
button { border: 0; background: transparent }

/* Scrollability */
.scrollable { -webkit-transform: translate3d(0,0,0) }

/* General article styles' */
article     { text-shadow: 1px 1px 0px #fff; color: #666; font-family: 'Abel' }
article h1, h2, h3, h4, h5 { color: #333; font-weight: 700 }
article h1  { font-family: 'PT Sans Narrow' }
article p.meta { color: #999; padding-left: 21px }
article em,
article strong { font-weight: bold }
article a   { cursor: pointer; border-bottom: 1px dotted #333; color: inherit; text-decoration: none }
article pre,
article code  { font-family: Monaco, sans-serif }
article img       { border-radius: 4px }
article img.small { width: 200px }
article img.right { float: right; margin: 0.25em 0 1em 1em }
article ul        { list-style-position: inside }

/* Top menu */
#main-menu { left: 0; right: 0; padding: 12px 20px 10px; background: #000; background: rgba(0,0,0,0.8); box-shadow: 0 3px 5px rgba(0,0,0,0.2); z-index: 10 }
#main-menu > * { float: left }
#main-menu menu { margin-left: 100px }
#main-menu h1 { margin: 2px 0 0 7px; font: 700 1.6em 'PT Sans Narrow'; color: #fff; vertical-align: bottom; text-transform: uppercase }
#main-menu h1 a {color: #fff; text-decoration: none;}
#main-menu button { margin-right: 20px; color: #fff }

/* Stream */
#stream { left: 0; padding: 70px 0 6px 0; width: 360px; border-right: 1px solid #ccc }
#stream article { position: relative; margin: 0 0 0 6px; padding: 10px 20px 10px 40px; cursor: pointer }
#stream article:hover { background: rgba(0,0,0,0.1) }
#stream article h1 { font-size: 1.5em }
#stream article p  { font-size: 1.25em }
#stream article button { position: absolute; top: 8px; right: 3px; padding: 0; border: 0; background: transparent; opacity: 0 }
#stream article:hover button { opacity: 1 }
#stream article,
#stream article button { -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; transition: all 0.25s linear }
#stream::-webkit-scrollbar { width: 6px; padding: 18px; -webkit-border-radius: 1ex; opacity: 0 }
#stream::-webkit-scrollbar-thumb { padding: 8px; width: 8px; height: 6px; background-color: rgba(0,0,0,0.2); -webkit-border-radius: 1ex }
#stream.inactive::-webkit-scrollbar-thumb {background: rgba(0,0,0,0)}

/* Reading now */
#reading-now { left: 360px; right: 0; padding: 70px 60px 20px }
#reading-now header h1 { font-size: 3.4em; color: #333 }
#reading-now > h1, #reading-now > h2,
#reading-now > h3, #reading-now > h4,
#reading-now > h5, #reading-now > h6 { margin-top: 0.5em }
#reading-now h1 { font-size: 2.8em }
#reading-now h2 { font-size: 2.4em }
#reading-now h3 { font-size: 2.2em }
#reading-now h4 { font-size: 2em }

#reading-now p,
#reading-now ul { font-size: 1.45em; line-height: 1.5em; margin: 0.5em 0 }
#reading-now p.meta { line-height: 1.2em; margin: 0; font-size: 1.25em }
#reading-now p.meta a { margin-left: 5px; border: 0 }
#reading-now header { padding-bottom: 30px; margin-bottom: 20px; border-bottom: 1px solid #ccc }
#reading-now {
  opacity: 0;
  -webkit-transition: all 0.25s linear;
  -moz-transition:    all 0.25s linear;
  transition:         all 0.25s linear;
  -webkit-transform:  translate3d(0px,20px,0);
  -moz-transform:     translateY(20px);
  transform:          translate3d(0px,20px,0)
}
#reading-now.reading {
  opacity: 1;
  -webkit-transform:  translate3d(0px,0px,0);
  -moz-transform:     translateY(0px);
  transform:          translate3d(0px,0px,0)
}

/* Source icons */
#stream article,
p.meta {background: url(/img/sources/lectio.jpg) no-repeat 15px 11px }
#stream article:hover {background: url(/img/sources/lectio.jpg) no-repeat 15px 11px, rgba(0,0,0,0.1)}
p.meta {background-position: top left;}

#stream article.yc,
p.meta.yc { background-image: url(/img/sources/ycombinator.png) }
#stream article.conversation,
p.meta.conversation { background-image: url(/img/sources/conversation.png) }
#stream article.nyt,
p.meta.nyt { background-image: url(/img/sources/nyt.png) }
#stream article.usesthis,
p.meta.usesthis { background-image: url(/img/sources/usesthis.jpg) }
#stream article.functionsource,
p.meta.functionsource { background-image: url(/img/sources/functionsource.png) }
#stream article.flickr,
p.meta.flickr { background-image: url(/img/sources/flickr.jpg) }

/* Read later */
#read-later menu      { position: absolute; bottom: 0; right: 0; left: 0; padding: 12px 20px 10px 40px; box-shadow: 0 -1px 3px rgba(0,0,0,0.2); z-index: 10 }
#read-later menu > *  { float: left }
#read-later menu.yc   { background: url(/img/sources/ycombinator.png) no-repeat 15px 15px, rgba(255,255,255,0.8) }
#read-later h1        { width: 400px; font-size: 1.6em; color: #ccc  }
