html, body  { height: 100%; width: 100%; color: #fff; font-family: 'Abel' }
body        { background: #eeedec url(/img/noise.png) repeat; overflow: hidden }
#main-menu, #stream, #reading-now, #read-later { position: absolute }
#stream, #reading-now, #read-later {
  padding-top: 70px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  overflow-y: auto;
  -webkit-transform:  translate3d(0px,0px,0);
  -moz-transform:     translateY(0px);
  transform:          translate3d(0px,0px,0);
  -webkit-transition: all 0.25s linear;
  -moz-transition:    all 0.25s linear;
  transition:         all 0.25s linear;
}
body.read-later #stream,
body.read-later #reading-now  {
  opacity: 0;
  pointer-events: none;
  -webkit-transform:  translate3d(0px,20px,0);
  -moz-transform:     translateY(20px);
  transform:          translate3d(0px,20px,0)
}
#read-later, #read-later-menu     { opacity: 0; pointer-events: none }
body.read-later #read-later,
body.read-later #read-later-menu  { opacity: 1; pointer-events: auto }

/* Shit that's a given */
button { border: 0; background: transparent }

/* Scrollability */
.scrollable { -webkit-transform: translate3d(0,0,0) }

/* General article styles' */
article     { text-shadow: 1px 1px 1px #cbcbcb; color: #666; font-family: 'Abel'; text-rendering: optimizeLegibility }
article h1, h2, h3, h4, h5 { color: #333; font-weight: 700; font-family: 'PT Sans Narrow' }
article p.meta { color: #999; padding-left: 21px }
article em,
article strong { font-weight: bold }
article a   { cursor: pointer; border-bottom: 1px dotted #333; color: inherit; text-decoration: none }
article pre,
article code  { font-family: Monaco, sans-serif }
article img       { max-width: 100%; border-radius: 4px }
article img.small { width: 200px }
article img.right { float: right; margin: 0.25em 0 1em 1em }
article ul        { list-style-position: inside }
article br        { display: none }

/* Top menu */
#main-menu { left: 0; right: 0; padding: 12px 20px 10px; background: #000; background: rgba(0,0,0,0.8); box-shadow: 0 3px 5px rgba(0,0,0,0.2); z-index: 10 }
#main-menu > * { float: left }
#main-menu menu { margin-left: 100px }
#main-menu h1 { margin: 2px 0 0 7px; font: 700 1.6em 'PT Sans Narrow'; color: #fff; vertical-align: bottom; text-transform: uppercase }
#main-menu h1 a { color: #fff; text-decoration: none }
#main-menu button { margin-right: 20px; color: #fff }
#main-menu .vote { position: absolute; right: 12px; top: 14px }
#logo, #title { cursor: pointer }

/* Stream */
#stream { left: 0; padding: 70px 0 6px 0; width: 360px; border-right: 1px solid #ccc }
#stream article { position: relative; margin: 0 0 0 6px; padding: 10px 20px 10px 40px; cursor: pointer; text-shadow: 1px 1px 1px #E5E5E5; overflow-x: hidden }
#stream article > *         { 
  opacity: 1;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition:    opacity 0.25s linear;
  transition:         opacity 0.25s linear;
}
#stream article.adding > *  { opacity: 0 }
#stream article:hover,
#stream article.focused { background-color: rgba(0,0,0,0.1) }
#stream article h1 { margin-right: 10px; font-size: 1.5em }
#stream article p  { font-size: 1.25em }
#stream article button { position: absolute; top: 8px; right: 3px; padding: 0; border: 0; background: transparent; opacity: 0 }
#stream article:hover button { opacity: 1 }
#stream article.in-read-later button,
#stream article.in-read-later:hover button { opacity: 1}
#stream article,
#stream article button { -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; transition: all 0.25s linear }
#stream::-webkit-scrollbar { width: 6px; padding: 18px; -webkit-border-radius: 1ex; opacity: 0 }
#stream::-webkit-scrollbar-thumb { padding: 8px; width: 8px; height: 6px; background-color: rgba(0,0,0,0.2); -webkit-border-radius: 1ex }
#stream.inactive::-webkit-scrollbar-thumb {background: rgba(0,0,0,0)}

/* Reading now */
#reading-now { left: 360px; right: 0; padding: 70px 60px 20px }
#reading-now header h1 { font-size: 3.4em; line-height: 1.1em; color: #333 }
#reading-now > h1, #reading-now > h2,
#reading-now > h3, #reading-now > h4,
#reading-now > h5, #reading-now > h6 { margin-top: 0.5em }
#reading-now h1 { font-size: 2.8em }
#reading-now h2 { font-size: 2.4em }
#reading-now h3 { font-size: 2.2em }
#reading-now h4 { font-size: 2em }

#reading-now p,
#reading-now ul,
#reading-now ul { font-size: 1.45em; line-height: 1.5em; margin: 0.5em 0 }
#reading-now p.meta { line-height: 1.2em; margin: 0.25em 0 0; font-size: 1.25em }
#reading-now p.meta a { margin-left: 5px; border: 0 }
#reading-now header { padding-bottom: 30px; margin-bottom: 20px; border-bottom: 1px solid #ccc }
#reading-now {
  opacity: 0;
  -webkit-transition: all 0.25s linear;
  -moz-transition:    all 0.25s linear;
  transition:         all 0.25s linear;
  -webkit-transform:  translate3d(0px,20px,0);
  -moz-transform:     translateY(20px);
  transform:          translate3d(0px,20px,0)
}
#reading-now.reading {
  opacity: 1;
  -webkit-transform:  translate3d(0px,0px,0);
  -moz-transform:     translateY(0px);
  transform:          translate3d(0px,0px,0)
}

/* Source icons */
#stream article,
p.meta {background: url(/img/sources/lectio.jpg) no-repeat 15px 11px }
#stream article:hover {background: url(/img/sources/lectio.jpg) no-repeat 15px 11px, rgba(0,0,0,0.1)}
p.meta {background-position: top left;}

#stream article.yc,
#stream article.yc.focused,
p.meta.yc                         { background-image: url(/img/sources/ycombinator.png) }
#stream article.conversation,
#stream article.conversation.focused,
p.meta.conversation               { background-image: url(/img/sources/conversation.png) }
#stream article.nyt,
p.meta.nyt                        { background-image: url(/img/sources/nyt.png) }
#stream article.usesthis,
p.meta.usesthis                   { background-image: url(/img/sources/usesthis.jpg) }
#stream article.functionsource,
p.meta.functionsource             { background-image: url(/img/sources/functionsource.png) }
#stream article.flickr,
p.meta.flickr                     { background-image: url(/img/sources/flickr.jpg) }
#stream article.gimmebar,
p.meta.gimmebar                   { background-image: url(/img/sources/gimmebar.png) }
#stream article.freakonomics,
p.meta.freakonomics               { background-image: url(/img/sources/freakonomics.jpg) }

/* Read later */
#read-later-menu      { position: absolute; bottom: 0; right: 0; left: 0; padding: 12px 75px 10px; color: #999; box-shadow: 0 -1px 3px rgba(0,0,0,0.2); z-index: 10; background: rgba(255,255,255,0.8) }
#read-later-menu > *  { float: left }
#read-later-menu h1   { margin: 0 20px; font-size: 1.6em; line-height: 22px; min-width: 300px }
#current-article      { display: block; font-size: 1.6em; margin: 0 5px }
#read-later-menu.yc   { background:  rgba(255,255,255,0.8) url(/img/sources/ycombinator.png) no-repeat 15px 15px }
#read-later { overflow-x: hidden }
#read-later article         { 
  position: absolute; 
  right: 85px; 
  left: 85px; 
  pointer-events: none; 
  opacity: 0;
  text-shadow: 1px 1px 1px #cbcbcb;
  -webkit-transition: all 0.25s linear;
  -moz-transition:    all 0.25s linear;
  transition:         all 0.25s linear;
}
#read-later article.current { 
  pointer-events: auto; 
  opacity: 1;
  padding: 0 0 60px 0;
  -webkit-transform:  translate3d(0,0,0);
  -moz-transform:     translateX(0);
  transform:          translate3d(0,0,0)  
}
#read-later article.next {
  -webkit-transform:  translate3d(50%,0,0);
  -moz-transform:     translateX(50%);
  transform:          translate3d(50%,0,0)
}
#read-later article.previous {
  -webkit-transform:  translate3d(-50%,0,0);
  -moz-transform:     translateX(-50%);
  transform:          translate3d(-50%,0,0);
}
#read-later article header      { padding-bottom: 30px; margin-bottom: 20px; border-bottom: 1px solid #ccc }
#read-later article header h1   { font-size: 3.4em; color: #333 }
#read-later article > h1, #reading-now > h2,
#read-later article > h3, #reading-now > h4,
#read-later article > h5, #reading-now > h6 { margin-top: 0.5em }
#read-later article h1 { font-size: 2.8em }
#read-later article h2 { font-size: 2.4em }
#read-later article h3 { font-size: 2.2em }
#read-later article h4 { font-size: 2em }
#read-later article p,
#read-later article ul,
#read-later article ol { font-size: 1.45em; line-height: 1.5em; margin: 0.5em 0 }
#read-later article p.meta { line-height: 1.2em; margin: 0; font-size: 1.25em }
#read-later article p.meta a { margin-left: 5px; border: 0 }
#empty    { position: absolute; width: 550px; top: 50%; left: 50%; margin: -120px 0 0 -275px; color: #666; text-align: center; text-shadow: 1px 1px 1px #E5E5E5 }
#empty h1 { font: 700 3em 'PT Sans Narrow' } 
#empty p  { font: normal 1.8em 'Abel' }


/* Function source styles */
article .gist         { padding: 0.5em; border: 1px dashed #999; border-radius: 4px }
article .gist-meta a  { display: inline-block; padding: 0.15em 0.25em; font-size: 1.2em; background: #999; color: #ebebed; border: 0; margin-right: 1em; text-shadow: none; border-radius: 4px }
